$bg-color: #cecece;

$wix-helvetica-55: Arial;
$wix-helvetica-75: Arial;

.container {
  margin: auto;
  width: 1020px;
}

button {
  background-color: #3388ff;
  border-radius: 5px;

  &:disabled {
    background-color: #999999;
  }
}

.translate-box {
  width: 900px;
  font-family: $wix-helvetica-55;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: $bg-color;
  border-radius: 6px;
  padding: 60px;

  h1 {
    font-family: $wix-helvetica-75;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

