@import 'mixins';

$bg-color: #40d0b0;

$wix-helvetica-55: Arial;
$wix-helvetica-75: Arial;

$duolingo-blue: #2aa8e5;
$duolingo-green: #94c500;
//$button-active: #3388ff;
$button-go-active: $duolingo-blue;
$button-disabled: #999999;
$color-results-counter: #233cd8;
$color-warning: #ee9988;
$color-error: #df2020;
$color-gray-dark: #6f6f6f;
$color-white: #ffffff;
$color-shadow-glow: #ffff00;
$color-synonyms: #0f9f0f;

$color-wix-dark-black: #242424;
$color-google-font: #545454;

$color-text-shadow: #bebebe;

@mixin text-header {
  color: $color-wix-dark-black;
}

@mixin text-content {
  color: $color-google-font;
}

@mixin fake-link {
  color: $color-results-counter;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.app-container {
  @include text-content;
  margin: 30px auto;
  width: 1020px;
  font-family: HelveticaNeueW01-Thin,HelveticaNeueW02-Thin,HelveticaNeueW10-35Thin,sans-serif;
}

.powered-by-google {
  margin-left: 10px;
}

@mixin button($color-active) {
  background-color: $color-active;
  border-radius: 5px;
  outline: none;
  border: 0;
  box-shadow: 2px 2px 7px 0 $color-gray-dark;

  &:disabled {
    background-color: $button-disabled;
  }

  &:hover:not(:disabled),
  &:focus {
    opacity: .8;
  }
}

.button-submit {
  @include button($button-go-active);

  height: 33px;
  margin: 0 8px;
}

.button-clear {
  @include button($duolingo-green);

  height: 30px;
  padding-top: 0;
  font-size: 16px;
  font-weight: 100;
  margin: 0 8px;
}

.translation-input-container {
  .header {
    @include text-header;
  }

  .free-text {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 35px;
    width: 312px;
    padding: 0 10px;
    border: 1px solid $color-text-shadow;

    &:hover {
      box-shadow: 2px 2px 6px 0 $color-text-shadow;
    }
  }

}

.search-button-container {
  display: inline-block;
  margin: 0 10px;
}

$gradient-stop1: rgba(250, 243, 163, 1);

.search-results-counter {
  display: inline-block;
  color: $color-results-counter;
  box-shadow: 0 0 34px 4px $color-shadow-glow;
  border-radius: 7px;
  background: radial-gradient(ellipse at center, $color-white 0%, $color-white 19%, $gradient-stop1 41%, rgba(240, 228, 93, 1) 73%, $color-shadow-glow 100%);
}

.target-languages {
  .text-label {
    .header {
      @include text-header;
    }

    .sort-by {
      font-size: 10px;
    }

    .link.selected {
      cursor: default;
    }

    .link:not(.selected) {
      @include fake-link;
    }
  }

  .dropdown-container {
    display: inline-block;
    width: 80%;
  }

  .clear-all {
    display: inline-block;
  }
}

input {
  outline: none;
  border-width: 0;
  padding: 0 6px;
  border-radius: 6px;
}

$gradient-green1: #64e384;
$gradient-green11: rgba(80, 227, 138, .7);
$gradient-green2: #40d0b0;
$gradient-green22: rgba(64, 208, 172, .5);
$color-light-gray: #dfdfdf;

.translate-box {
  font-family: $wix-helvetica-55;
  font-size: 18px;
  line-height: 30px;
  box-shadow: 4px 4px 7px 2px $color-light-gray;
  background: linear-gradient(to bottom, $gradient-green11 0, $gradient-green22 50%, $gradient-green11 100%);
  border-radius: 12px;
  padding: 60px;

  .did-you-mean {
    font-style: italic;
    color: $color-warning;
  }

  h1 {
    font-family: $wix-helvetica-75;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: $color-wix-dark-black;
    text-shadow: 2px -3px $color-text-shadow;
    margin-top: 0;
  }
}

input:disabled {
  background-color: $color-light-gray;
}

.translation-error {
  color: $color-error;
  margin: 7px 0;
}

.output-languages {
  margin-top: 15px;
}

.translation-result {
  display: table-row;

  * {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
  }

  .result-language {
    color: $color-white;
  }

  .result-synonyms {
    color: $color-synonyms;
  }

  .result-play {
    cursor: pointer;
  }
}

.play-svg {
  fill: $color-wix-dark-black;
  transition: fill .2s linear;

  &:hover {
    fill: $duolingo-green;
  }
}

footer {
  margin: 10px 12px;
}

.horizontal-ul {
  list-style: none;
  padding: 0;
  text-shadow: .6px .6px $color-text-shadow;

  li {
    display: inline-block;
  }
}

.dropdown-no-results {
  padding-left: 8px;
}

.octicon-mark-github {
  vertical-align: bottom;
}

.dinosaur {
  @include hide-animation(.3s);
}

.ui-select-bootstrap {
  > .ui-select-choices,
  > .dropdown-menu {
    width: 40%;
  }
}

.ui-select-choices-row .popular {
  font-weight: bold;
}

.ui-select-multiple.ui-select-bootstrap {
  height: 37px;
  padding: 4px 0 0 4px;

  .ui-select-match-item,
  .ui-select-match .close {
    line-height: 24px;
  }
}
