<!doctype html>
<!-- #if( false )
  Prerequisites from server model:
  --------------------------------
  ${locale}, ${debug}, ${experiments},
  ${newRelicEndUserHeader}, ${newRelicEndUserFooter}
  ${clientTopology.googleTranslate1xStaticsUrl}

  More details at: http://kb.wixpress.com/display/dashboard/How+to+integrate+server+with+index.vm
#end -->
<!--
  #set( $staticsUrl = $clientTopology.googleTranslate1xStaticsUrl )
-->
<html ng-app="googleTranslate1xApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Google Translate and TTS Client</title>
    <meta name="description" content="Translate and TTS multiple languages simultanously">
    <meta name="keywords" content="translate,TTS,multipe">
    <meta name="viewport" content="width=device-width">
    <meta name="referrer" content="origin">
    <!-- process-tags prefix('${staticsUrl}') -->
    <link type="image/png" href="images/china-glow.png" rel="shortcut icon">
    <!-- end-process-tags -->
    <!-- process-tags prefix('${staticsUrl}') -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/dinosaur.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- end-process-tags -->
    ${newRelicEndUserHeader}
  </head>
  <body>
    
    <!-- Add your site or application content here -->
    <google-translate1x-app name="'googleTranslate1xApp'"></google-translate1x-app>
    

    <!-- process-tags prefix('${staticsUrl}') -->
    <!-- build:js scripts/modules.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/es6-shim/es6-shim.js"></script>
    <script src="bower_components/uri.js/src/URI.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="views/google-translate1x-app.html.js"></script>
    <script src="views/translation-box.html.js"></script>
    <script src="views/dinosaur.html.js"></script>
    <script src="views/github-logo.html.js"></script>
    <script src="views/play-icon.svg.html.js"></script>
    <script src="scripts/components/google-translate1x-app.js"></script>
    <script src="scripts/services/google-translate-api.js"></script>
    <script src="scripts/components/translation-box.js"></script>
    <script src="scripts/services/translate-manager.js"></script>
    <script src="scripts/components/dinosaur.js"></script>
    <script src="scripts/services/local-storage.js"></script>
    <script src="scripts/services/sort-language.js"></script>
    <script src="scripts/services/languages-manager.js"></script>
    <script src="scripts/services/hype-o-meter.js"></script>
    <script src="scripts/services/translate-box-ui.js"></script>
    <script src="scripts/filters/synonyms.js"></script>
    <script src="scripts/services/tts.js"></script>
    <script src="scripts/services/audio-player.js"></script>
    <script src="scripts/components/audio-speed-dashboard.js"></script>
    <!-- endbuild --><!-- scripts -->
    <!-- end-process-tags -->

    <!-- #if( ${enableMocks} ) -->
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    
    <!-- build:js(.tmp) scripts/mocks.js -->
    <script src="test/mock/server-api.js"></script>
    <script src="test/mock/server-api-mock-data.js"></script>
    <!-- endbuild -->
    
    <script>
      /* jshint ignore:start */
      if ('${enableMocks}' === 'true') {
        angular.module('googleTranslate1xApp').requires.push('googleTranslate1xAppMocks');
      }
    </script>
    <!-- #end -->
    
    ${newRelicEndUserFooter}
    
  </body>
</html>
