.app-container
  .main
    .translate-box
      %h1
        Multi-Language Translator
      %h5.powered-by-google powered by Google®
      %translation-box(name='abc')
      %dinosaur
  %footer
    %ul.horizontal-ul
      %li SampleApp@GitHub
      %li
        %div(ng-include="'views/github-logo.html'")
      %li
        %a(href='https://github.com/guyrotem/google-translate-client' target="_blank") Client
      %li
        |
      %li
        %a(href='https://github.com/guyrotem/google-translate-server' target="_blank") Server
      %li
        |
      %li.link(ng-click="showMail=!showMail" ng-init="showMail = false")
        %a(href="#") contact me
      %li(ng-if="showMail")
        | guyrotem1@gmail.com
