%div
  %form(name='$ctrl.translationForm' ng-submit='$ctrl.submit()')
    .div
      %div
        %span Target Languages:
        %ui-select(ng-model="$ctrl.targetLanguages" theme="bootstrap" multiple)
          %ui-select-match
            {{$item.name}}
          %ui-select-choices(repeat="targetLanguage.code as targetLanguage in $ctrl.getTargetLanguageOptions() | filter:$select.search")
            {{ targetLanguage.name }}
      %div Text
      %input(name='input' ng-model='$ctrl.input')
      -#%input(type='submit' ng-disabled='$ctrl.isLockSearch()' value='Translate!')
      %button(type='submit' ng-disabled='$ctrl.isLockSearch()' value='Translate!' ng-click='$ctrl.submit()') GO!
    .output-languages
      %div(ng-repeat='translationItem in $ctrl.getTranslations()')
        %span {{translationItem.language}}
        %span {{translationItem.translation}}
