%div
  %form(name='$ctrl.translationForm' ng-submit='$ctrl.submit()')
    .translation-settings
      .target-languages
        .text-label
          %span.header Target Languages:
          %span.sort-by(ng-if="$ctrl.isSortingAllowed()")
            %span sort options by:
            %span(ng-repeat="option in $ctrl.getSortingOptions()" ng-click="$ctrl.orderLangsBy(option.id)")
              %span.link(ng-class="{'selected': $ctrl.isSelectedSorting(option)}") {{option.label}}
              %span(ng-show="!$last")
                \|
              -#{{option.label + ($last ? '' : ' |')}}
        %ui-select(ng-model="$ctrl.targetLanguages" theme="bootstrap" ng-disabled="$ctrl.isLockUi()" multiple)
          %ui-select-match(placeholder="{{$ctrl.getTargetLanguageOptions() ? 'Spanish, French, Bengali, ...' : 'Loading languages, please wait...'}}")
            {{ $item.name }}
          %ui-select-choices(repeat="targetLanguage.code as targetLanguage in $ctrl.getTargetLanguageOptions() | filter:$select.search")
            %span(ng-class="{'popular': $ctrl.isPopularTargetLanguage(targetLanguage)}") {{ targetLanguage.name }}
      .translation-input-container
        %div.header Text
        %input.free-text(name='input' ng-model='$ctrl.input' autocomplete="off" placeholder="{{$ctrl.getTargetLanguageOptions() ? 'translate me...' : ''}}" ng-disabled="$ctrl.isLockUi()")
        .search-button-container
          %button(type='submit' ng-disabled='$ctrl.isLockSearch()' value='Translate!')
            GO!
        .search-results-counter(ng-show='$ctrl.isInProgress()')
          {{$ctrl.translationsDoneCounter()}} / {{$ctrl.targetLanguages.length}}


      %div.translation-error(ng-show='!!$ctrl.getLastError()') {{ $ctrl.getLastError() }}
      %div.did-you-mean(ng-if='$ctrl.showDidYouMean()')
        %span Did you mean...
        %span {{ $ctrl.didYouMean() }}

    .output-languages
      .translation-result(ng-repeat='translationItem in $ctrl.getTranslations()')
        .result-language {{translationItem.language}}
        .result-value {{translationItem.translation}}
        .result-transliteration {{translationItem.transliteration}}
